@use './_styles' as styles
*
    box-sizing: border-box
    margin: 0
    padding: 0
    &::selection
        background: #843FE888
        color: #333333
:root
    --page-padding: 6.25rem

body
    min-height: 100vh
    font-family: styles.$ff-main
    color: styles.$clr-dark
    font-size: .75rem
.App
    overflow-x: hidden
h1
    font-size: 3.5rem
    font-weight: 400
    line-height: 5rem
    letter-spacing: -.07rem
h2
    font-size: 3rem
input
    font-family: inherit
    outline: none
    border: none
a
    all: unset
    color: inherit
    cursor: pointer
    user-select: none
.btn
    @include styles.button()
    &.btn-primary
        @include styles.button('primary')
    &.btn-secondary
        @include styles.button('secondary')
#site-header
    padding-inline: var(--page-padding)
    display: flex
    align-items: center
    justify-content: space-between
    padding-block: 2.69rem
    z-index: 1
    gap: 2rem
    .menu
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        position: relative
        .hamburger
            display: none
        .wrapper
            display: flex
            align-items: center
            .links
                ul
                    list-style: none
                    display: flex
                    gap: 3rem
                    font-size: 1.25rem
    .call-to-action
        margin-left: 9.5rem
        div
            border-radius: .625rem
.container > main
    &> section
        display: flex
        padding-block: 3rem
        overflow: hidden
        &> *
            padding-inline: var(--page-padding)
#site-footer
    display: flex
    flex-direction: column
    gap: 2.25rem
    padding-inline: var(--page-padding)
    padding-block: 3.5rem
    background-color: styles.$clr-dark
    color: styles.$clr-white
    font-size: .875rem
    .wrapper
        display: grid
        grid-template-columns: 2fr repeat(3, 1fr)
        header
            display: inline-flex
            flex-direction: column
            justify-content: space-between
            .logo
                display: inline-flex
                svg
                    path
                        fill: currentcolor
                    &:hover
                        path
                            fill: url(#paint0_linear_3552_66)
            .socials
                display: inline-flex
                gap: 2rem
                span
                    display: inline-flex
                    align-content: center
                    cursor: pointer
                    svg
                        path
                            transition: fill 500ms ease-in-out
                            fill: styles.$clr-white
                    &:hover
                        svg
                            path
                                fill: styles.$clr-primary
        &>div
            display: inline-flex
            flex-direction: column
            gap: 1rem
            span
                &:nth-child(1)
                    font-weight: 700
                    font-size: 1.125rem
                    line-height: 1.375rem
    .copyright
        font-size: 1rem
@media screen and ( max-width: 1024px )
    :root
        --page-padding: 4rem
    html
        font-size: 80%
    #site-header
        .logo
            svg
                height: 2rem
                width: auto
        .call-to-action
            margin-left: 4.5rem
    #site-footer
        .wrapper
            header
                .logo
                    svg
                        height: 2rem
                        width: auto

@media screen and ( max-width: 768px )
    :root
        --page-padding: 3rem
    html
        font-size: 70%
    #site-header
        .menu
            order: 1
            .hamburger
                display: flex
                width: 2rem
                aspect-ratio: 1 / 1
                gap: .5rem
                flex-direction: column
                justify-content: space-evenly
                span
                    background-color: #1A1A1A
                    height: 1.5px
                    width: 100%
                    box-sizing: content-box
            .wrapper
                visibility: hidden
                border: 1px solid styles.$clr-border-white
                //display: none
                position: absolute
                flex-direction: column
                bottom: -2rem
                height: 0
                width: 0
                right: calc( var(--page-padding) / -2 )
                transform: translate(0, 100%)
                z-index: 2
                background-color: styles.$clr-white
                border-radius: 1rem
                gap: 2rem
                overflow: hidden
                opacity: 0
                transition: opacity 500ms linear
                .links
                    padding: 2rem
                    ul
                        flex-direction: column
                        align-items: center
                        gap: 2rem
            &[data-isopen = 'true']
                .hamburger
                    position: relative
                    span
                        position: absolute
                        &:nth-child(1)
                            transform: rotate(45deg)
                        &:nth-child(2)
                            display: none
                        &:nth-child(3)
                            transform: rotate(-45deg)

                .wrapper
                    visibility: visible
                    height: auto
                    width: 40vw
                    opacity: 1
        .call-to-action
            margin: 0
            margin-left: auto
@media screen and ( max-width: 540px )
    :root
        --page-padding: 1.5rem
    #site-header
        padding-block: 1rem
@media screen and ( max-width: 425px )
    :root
        --page-padding: 1rem
    html
        font-size: 60%