@use './_styles' as styles
*
    box-sizing: border-box
    margin: 0
    padding: 0
:root
    --page-padding: 6.25rem

body
    min-height: 100vh
    font-family: styles.$ff-main
    color: styles.$clr-black
    font-size: .75rem
h1
    font-size: 3.5rem
    font-weight: 400
    line-height: 5rem
    letter-spacing: -.07rem
input
    font-family: inherit
    outline: none
    border: none
.btn
    @include styles.button()
    &.btn-primary
        @include styles.button('primary')
    &.btn-secondary
        @include styles.button('secondary')
#site-header
    padding-inline: var(--page-padding)
    display: flex
    align-items: center
    justify-content: space-between
    padding-block: 2.69rem
    .menu
        .wrapper
            display: flex
            align-items: center
            justify-content: space-between
            gap: 11.5rem
            .links
                ul
                    list-style: none
                    display: flex
                    gap: 3rem
                    font-size: 1.25rem
            .call-to-action
                div
                    border-radius: .625rem
.container > main
    &> section
        display: flex
        padding-block: 3rem
        &> *
            padding-inline: var(--page-padding)