@use './../_styles' as styles
section#intro
    gap: 6rem
    flex-direction: column
    padding-bottom: 0
    .wrapper
        display: flex
        gap: 6.25rem
        .tagline
            flex-basis: 60%
            display: flex
            flex-direction: column
            gap: 3rem
            header
                display: flex
                flex-direction: column
                gap: 3rem
                h1
                    span
                        color: styles.$clr-primary
                        font-weight: 700
                p
                    font-size: 1.5rem
        .hero
            flex-basis: 40%
            display: grid
            grid-template-columns: auto auto
            justify-content: center
            gap: .5rem
            margin-block: auto
            img
                height: 11rem
                transition: scale 500ms, opacity 500ms
                &:nth-child(odd)
                    transform: translateY(25%)
                &:nth-child(even)
                    transform: translateY(-25%)
                &:hover
                    opacity: 0.9
                    scale: 1.2
                    z-index: 1
    .sponsors
        display: flex
        background-color: styles.$clr-primary
        justify-content: space-between
        align-items: center
section#inspiration
    .wrapper
        display: flex
        flex-direction: column
        gap: 2.625rem
        header
            display: inline-flex
            place-self: center
            h2
                color: #000000
section#NFTs
    background: styles.$clr-primary
    color: styles.$clr-white
    .wrapper
        width: 100%
        padding-block: 5rem 12.68rem
        display: flex
        justify-content: space-between
        align-content: center
        gap: 5rem
        &>div
            flex-basis: 50%
        .container1
            display: flex
            flex-direction: column
            gap: 3.5rem
            header
                display: flex
                gap: 2.25rem
                flex-direction: column
                p
                    font-size: 1.125rem
                    max-width: 26rem
                    line-height: 2.25rem
            .buttons
                .btn
                    border-radius: .5rem
        .container2
            display: flex
            justify-content: center
            .illustrations
                position: relative
                width: 23.625rem
                height: 16rem
                img
                    position: absolute
                    width: 100%
                    border-radius: .625rem
                    &:nth-child(1)
                        transform: translate(22%, -5%) rotate(17.76deg)
                    &:nth-child(2)
                        transform: translate(-40%, 65%) rotate(-26.02deg)
                    &:nth-child(3)
                        transform: translate(35%, 90%) rotate(-8.76deg)