@use './../_styles.sass' as styles
section#location
    .wrapper
        display: flex
        flex-direction: column
        gap: 4rem
        .filter
            display: flex
            justify-content: space-between
            align-items: center
            .tags
                display: inline-flex
                gap: 3rem
                font-size: 1.25rem
            .location
                padding: .875rem
                font-size: 1rem
                display: inline-flex
                align-items: center
                gap: 1rem
                border: 1px solid #B4B4B4
                border-radius: .5rem
                margin-right: 4rem
        /*.container
            display: grid
            grid-template-columns: repeat(4, 1fr)
            gap: 1.5rem
            &>div:not(.error)
                display: flex
                flex-direction: column
                gap: 1rem
                border: 1px solid styles.$clr-border-white
                padding: 1rem
                border-radius: 1rem
                .image
                    border-radius: inherit
                    overflow: hidden
                    position: relative
                    img
                        width: 100%
                        height: 100%
                        object-fit: cover
                    .heart
                        position: absolute
                        top: .625rem
                        right: .625rem
                .desc
                    display: flex
                    flex-direction: column
                    gap: .625rem
                    &>div
                        display: flex
                        justify-content: space-between
                        align-items: center
                        &:nth-child(1)
                            .price
                                font-weight: 700
                        &:nth-child(3)
                            align-self: flex-start
                            gap: .5rem
                            span
                                svg > path
                                    stroke: styles.$clr-primary
                                    fill: none
                                &.filled svg > path
                                    fill: styles.$clr-primary